<nav>
  <ul>
    <li><%= link_to (t :home_title), home_path %></li>
    <li><%= link_to (t :china_title), china_path %></li>
    <li><%= link_to (t :burma_title), burma_path %></li>
    <li><%= link_to (t :asia_title), asia_path %></li>
    <li><%= link_to (t :gandhara_title), gandhara_path %></li>
    <li><%= link_to (t :porcelain_title), porcelain_path %></li>
    <li><%= link_to (t :contact_title), contact_path %></li>
  </ul>
</nav>